.course {
    background: transparent;
    border: 1px solid;
    border-color: #ffd #ffd #fea #ffd;
    padding-right: 2px;
}

.course > span {
    text-align: left;
    padding: 3px;
    vertical-align: middle;
    font: 400 11px Arial, sans-serif;
}

.course .dropdown {
    display: inline-block;
    margin: 3px;
    height: 7px;
    width: 7px;
    vertical-align: middle;
    background-position: 0px 0px;
}

.course .code {
    display: inline-block;
    width: 6em;
    font: 400 normal 12px monospace;
    color: #555;
}

.course .title {
    display: inline-block;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 0px 5px 0px;
}

.course.focused_course {
    background-color: #fea !important;
}

.course.hovered_course {
    background-color: rgb(255, 240, 200);
}

.section_list li {
    list-style: none;
    padding: 0;
    padding-bottom: 1em;
    line-height: 1.5;
}

.section_list .text_area {
    position: relative;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border-bottom-color: #ffd;
    font-weight: bold;
}

.section.selected_section {
    background-color: #fea !important;
}

.section.hovered_section {
    background-color: rgb(255, 240, 200);
}

.section span {
    font-weight: normal;
    font-family: verdana;
}

.schedule_meeting {
    position: absolute;
    width: 100%;
    text-transform: uppercase;
}

.schedule_meeting .course_title {
    font-size: 9px;
    padding: 2px;
}

.popup {
    position: absolute;
    z-index: 2000;
}

.popup_information {
    font: 400 11px/18px Arial, sans-serif;
    color: #555;
    max-width: 400px;
    background: #ffffff url(images/popupMenuBg.gif) repeat-x bottom left;
    border: 1px solid #7eabcd;
    padding: 0.45em;
}

.popup_information b {
    font-weight: 400;
    color: #999;
    display: inline-block;
    width: 5em;
}

.schedule_unfocused_course {
    filter: brightness(75%);
}

.schedule_unfocused_section {
    opacity: 0.25;
}

.schedule_focused_section.campus_1 {
    box-shadow: 0px 0px 0px 7px #fff240 inset !important;
}

.overlapping_section {
    opacity: 0.25;
}

.async_text_area {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
    font-style: italic;
}

.async_course {
    margin-left: 10px;
    margin-bottom: 10px;
}

.async_course span {
    display: inline-block;
}

.async_course .position {
    width: 25px;
}

.async_course .title {
    width: 250px;
    text-transform: uppercase;
}

.async_course .code {
    width: 150px;
}

.async_course .section {
    width: 100px;
}

.async_course .index {
    width: 100px;
}

.async_course .status {
    width: 100px;
}

.async_course.header {
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.async_course.async_focused_course {
    background-color: #fea;
}

.async_course.async_focused_section {
    opacity: 0.75;
}

.async_course.async_unfocused_section {
    background: linear-gradient(to bottom, transparent 45%, black 50%, transparent 55%);
}

.async_course.async_overlapping_section {
    background: linear-gradient(to bottom, transparent 45%, black 50%, transparent 55%);
}
